/* INICIO DEL ESTILADO SOBRE SELECTORES DE TIPO */

nav {
    width: 100%;
    height: 4.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    box-sizing: none;
    background-image: url("https://cdn.pixabay.com/photo/2016/05/22/20/13/background-1409125_960_720.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0em 0.1875em 0.8125em 0em rgb(194, 194, 194);
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Flamenco', cursive;
    background-color: #FEFDFC;
    scroll-behavior: smooth;
    width: 100%;
}

h1 {
    display: flex;
    font-size: 2.75em;
    color: #000;
    background: #FEFDFC;
    mix-blend-mode: multiply;
    position: relative;
    transition: 0.30s ease-in-out 0s;
}

h1::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(to right, #021E23, #403153, #9F5B98, #D58DC7, #DE94CF, #E7A2D7);
    mix-blend-mode: screen;
    position: absolute;
    top: 0;
    left: 0;
}

footer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://cdn.pixabay.com/photo/2016/05/22/20/13/background-1409125_960_720.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
    color: #FEFDFC;
    position: relative;
}

ul li {
    text-decoration: none;
    list-style: none;
    align-items: center;
}

a {
    text-decoration: none;
    position: relative;
    color: #FEFDFC;
    border: 1 px;
    font-weight: bold;
}

a:focus {
    border: 2px solid black;
    color: #983175;
}

form {
    display: flex;
    flex-direction: column;
    width: 95%;
    position: relative;
    margin: 0 auto;
    padding-right: 2%;
}

input {
    border: 0;
    border-radius: 10px;
    background-color: #f6f7fb;
    border: 1px solid #403153;
    font-size: var(--text-sm);
    padding: 0.2rem 0.3rem;
    display: block;
    width: 100%;
    outline: none;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    font-family: 'Flamenco', cursive;
    font-size: 1.2rem;
}

input:focus {
    border: 2px solid black;
    background-color: #D58DC7;
    color: black;
    font-weight: bold;
}

label {
    display: block;
    padding-bottom: 0.625em;
    font-size: 1.2rem;
}

textarea {
    width: 100%;
    height: 8em;
    margin-top: 0.25em;
    border-radius: 10px;
    background-color: #f6f7fb;
    border: 1px solid #403153;
    font-size: var(--text-sm);
    padding: 0.2rem 0.3rem;
    display: block;
    outline: none;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    resize: none;
    font-family: 'Flamenco', cursive;
    font-size: 1.2rem;
  }

textarea:focus {
    border: 2px solid black;
    background-color: #D58DC7;
    color: black;
    font-weight: bold;
}

input:valid, textarea:valid {
    border:  solid 2px #28b761;
}

input:invalid:not(:placeholder-shown), textarea:invalid:not(:placeholder-shown) {
    border:  solid 2px red;
}

button {
    width: 30%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1em auto;
    margin-top: 0.5em;
    background-color: #3E3051;
    color: #FEFDFC;
    padding: 0.5em 1.5em;
    border-radius: 0.50em;
    border: 2px;
    font-weight: bold;
    font-family: 'Flamenco', cursive;
    font-size: 1.2rem;
    
}

button:hover {
    box-shadow: 0em 0em 0.375em 0.0625em #9F5B98;
    color:#E7A2D7;
}

button:focus {
        border: 2px solid black;
        color: #983175;
    }

i {
    padding:0.6rem;
}

/* CIERRE DEL ESTILADO SOBRE SELECTORES DE TIPO */

/* INICIO DEL ESTILADO SOBRE SELECTORES DE CLASE */

        /* INICIO DEL ESTILADO SOBRE LOS ELEMENTOS DEL NAVBAR PARA MOBILE */

.nav_mobile {
    display: none;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0 auto;
}

.nav_container {
    position:relative;
}

.nav_mobile ul {
    position: relative;
    display: block;
    top: 23%;
    margin: 7em auto;
    list-style: none;
    padding: 0;
    font-size: x-large;
    text-align: center;
}

.nav_mobile li {
    display: none;
    margin: 1%;
    cursor: pointer;
} 

.top, .mid, .bot {
    position:absolute;
    top:0;
    left:-50%;
    right:-50%;
    height:0;
    background:#CF75B7;
    transform: rotate(37deg);
    display:none;
    }
      
.grow {  
    transition: transform .161s ease-in-out;
    animation: grow 0.161s ease-in-out;
    }
    
    @keyframes grow {
        from { transform: scale(0.161); }
        to   { transform: scale(1.0); }
}
      
.hamb {
    display: inline-block;
    position:absolute;
    top: 23px;
    right: 23px;
    width: 1em;
    height: 1em;
    padding: 0;
    vertical-align: middle;
    font-size: 23px;
    border: 0 none;
    background: transparent;
    cursor: pointer;
    z-index:111;
    transition: transform .2s ease-in-out;
}
      
.hamb:before, .hamb:after {
    content: "";
}
      
.hamb:before, .hamb .icon, .hamb:after {
    display: block;
    width: 100%;
    height: .2em;
    margin: 0 0 .2em;
    border-radius: 11px;
    background: #FEFDFC;
    transition: transform .2s ease-in-out 0.3s, background .2s ease-in-out 0.3s;
}
      
.hamb.active:before, .hamb.active .icon, .hamb.active:after {
    background: #FEFDFC;
}
    
.hamb.hamb_cancel.active .icon {
    transform: scale(0);
}
      
.hamb.hamb_cancel.active:before {
    transform: translateY(.4em) rotate(135deg);
}
      
.hamb.hamb_cancel.active:after {
    transform: translateY(-.4em) rotate(-135deg);
}
      
        /* CIERRE DEL ESTILADO SOBRE LOS ELEMENTOS DEL NAVBAR PARA MOBILE */

        /* INICIO DEL ESTILADO SOBRE LOS ELEMENTOS DEL NAVBAR PARA DESKTOP */

.navbar_desktop {
    width: 100%;
    padding-left: 30%;
}

.navbar {
    display: flex;
    text-transform: uppercase;
    justify-content: space-evenly;
    list-style: none;
}

.nav-item {
    font-weight: bold;
    margin: 0em 1.2em;
    padding: 1.2em 0em;
    font-size: 1.2em;
    color: white;
    text-shadow: #000 1px;
    position: relative;
}

.nav-item:hover {
    opacity: 1;
}
  
.nav-item::before {
    transition: 300ms;
    height: 3px;
    content: "";
    position: absolute;
    background-color: white;
}
  
.link-ltr::before {
    width: 0%;
    bottom: 20px;
}
  
.link-ltr:hover::before {
    width: 100%;
}

.button-contact {
    background-color: white;
    color: #3E3051;
    padding: 0.5em 1.5625em;
    border-radius: 0.20em;
    border-color: #3E3051;
    border: 2px;
    font-weight: bold;
}

.button-contact:hover {
    box-shadow: 0em 0em 0.375em 0.0625em #f2f1f9;
    color: #983175;
}

.menu_icon {
    display: none;
}

        /* CIERRE DEL ESTILADO SOBRE LOS ELEMENTOS DEL NAVBAR */

        /* INICIO DEL ESTILADO SOBRE LOS ELEMENTOS DE LA SECCIÓN DE BIENVENIDA */

.container_presentation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
}

.presentacion {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    position: relative;
}

.titles_container {
    display:flex;
    flex-basis: 0; 
    flex-grow: 1; 
    width: 100%;
    position: relative;
    justify-content: center;
}

.img_presentation_container {
    display: flex;
    width: 50%;
    padding: 0;
    justify-content: center;
}

.img_presentation_container img {
    width: 75%;
}

.welcome_title {
    display: flex;
    font-size: 2.5em;
    margin-bottom: -0.5em;
}

.diff_color {
    display: flex;
    font-size: 2.75rem;
    color: #000;
    padding-right: 0.5rem;
}

.presentation {
    display: flex;
    font-size: 1.2em;
    justify-content: end;
    margin-top: -30px;
}

.button_proyects {
    width: 30%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #3E3051;
    color: #FEFDFC;
    padding: 0.5em 1.5em;
    border-radius: 0.50em;
    border: 2px;
    font-weight: bold;
    
}

.button_proyects:hover {
    box-shadow: 0em 0em 0.375em 0.0625em #9F5B98;
    color:#E7A2D7;
}

        /* CIERRE DEL ESTILADO SOBRE LOS ELEMENTOS DE LA SECCIÓN DE BIENVENIDA */

        /* INICIO DEL ESTILADO SOBRE LOS ELEMENTOS DE LA SECCIÓN DE CONOCIMIENTOS */

.section_title {
    font-size: 2.5em;
    margin-top: 1.5em;
    font-weight: bold;
    text-align: center;
}

.section_description {
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    text-align: center;
}

.skill_card {
    width: 12rem;
    height: 12rem;
    background-color: white;
    color: #403153;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 1em 1.5em;
    align-items: center;
    justify-content: center;
    box-shadow: #021E23 0px 3px 8px;
}

.skill_card:hover {
    box-shadow: 0em 0em 0.375em 0.0625em #983175;
    color: #983175;
}

.skill {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.5rem;
}

.skill_icon {
    font-size: 6rem;
    margin-top: 1.5rem;
}

        /* CIERRE DEL ESTILADO SOBRE LOS ELEMENTOS DE LA SECCIÓN DE CONOCIMIENTOS */

        /* INICIO DEL ESTILADO SOBRE LOS ELEMENTOS DE LA SECCIÓN DE QUOTE */

.column_quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon_quote {
    font-size: 4em;
    color: white;
}

.text_quote {
    font-size: 2rem;
    max-width: 800px;
    line-height: 1.4em;
    text-align: center;
    padding: 0 0.5em;
}

.author {
    font-size: 1.5rem;
    font-weight: bold;
}

        /* CIERRE DEL ESTILADO SOBRE LOS ELEMENTOS DE LA SECCIÓN DE QUOTE */

        /* INICIO DEL ESTILADO SOBRE LOS ELEMENTOS DE LA SECCIÓN DE PROYECTOS */

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.project_card {
    width: 18rem;
    height: 18rem;
    background-color: white;
    color: #403153;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 1em 1em;
    padding-top: 1.5em;
    align-items: center;
    justify-content: center;
    box-shadow: #021E23 0px 3px 8px;
}

.project_card:hover {
    box-shadow: 0em 0em 0.375em 0.0625em #983175;
    color: #983175;
}

.img_card {
    height: 12em;
    width: 15em;
    margin: 0.2em;
}

.proyect {
    font-family:'Alegreya Sans SC', sans-serif;
    font-size: 1.2em;
    text-align: center;
}

        /* CIERRE DEL ESTILADO SOBRE LOS ELEMENTOS DE LA SECCIÓN DE PROYECTOS */

        /* INICIO DEL ESTILADO SOBRE LOS ELEMENTOS DE LA SECCIÓN DE CONTACTO */

.container_contact_section {
    display: flex;
    justify-content: center;
    margin: 3% auto;
    width: 70%;
    position: relative;
    border: 0.1em solid #021E23;
    border-radius: 10px;
    box-shadow: #021E23 0px 3px 8px;
}

            /* INICIO DEL ESTILADO SOBRE LOS ELEMENTOS DE LA SECCIÓN DE REDES SOCIALES DENTRO DE CONTACTO */

.contact_section {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 1% 2%;
}

.contact_title {
    display: flex;
    padding-left: 5%;
    font-size: 2rem;
    box-sizing: border-box;
    text-align: left;
    font-weight: bold;
}

.contact_description {
    display: flex;
    font-size: 1.2rem;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}

.contact_socialnetworks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: border-box;
    text-decoration: none;
    line-height: 2rem;
    justify-content: left;
}

.contact_link {
    display: flex;
    color: #403153;
}

.link_contact {
    display: flex;
    align-items: center;
    color: #403153;
    font-size: 1.2em;
}

.link_contact:hover {
    color: #983175;
}

.icon_contact {
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    color: #403153;
    font-size: 2rem;
    margin-right: 0.2rem;
    text-align: left;
    transition: 0.2s;
}

.link_contact:hover .icon_contact {
    background-color: transparent;
    color: #983175;
}


            /* CIERRE DEL ESTILADO SOBRE LOS ELEMENTOS DE LA SECCIÓN DE REDES SOCIALES DENTRO DE CONTACTO */

            /* INICIO DEL ESTILADO SOBRE LOS ELEMENTOS DEL FORMULARIO DE CONTACTO */

.form_section {
    width: 50%;
    margin: 1% 2%;
    padding-bottom: 1%;
    padding: 0 1% 1% 1%;
    display: flex;
    flex-direction: column;
}

.name_lastname {
    display: flex;
    text-align: left;
}

.name_lastname label {
    display: flex;
    padding-bottom: 0.625em;
}

.name_lastname input {
    display: flex;
}

.form_data {
    width: 90%;
    height: 4em;
    padding: 0.625em;
    display: flex;
    flex-direction: column;
}

.mail_form {
    height: 4em;
    padding: 0.625em;
    margin-top: 0.25em;
}

.textarea_form {
    padding: 0.625em;
    margin-top: 0.25em;
  }

            /* CIERRE DEL ESTILADO SOBRE LOS ELEMENTOS DEL FORMULARIO DE CONTACTO */

        /* INICIO DEL ESTILADO SOBRE LOS ELEMENTOS DEL FOOTER */

.nav_footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    font-family: 'Flamenco', cursive;
}

.navbar_footer {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    text-transform: uppercase;
    justify-content: space-evenly;
    list-style: none;
    color: #FEFDFC;
    text-align: center;
    position: relative;
    padding: 0;
    font-size: 1em;
}

.social_networks_footer {
    display: flex;
    width: 100%;
    color: #FEFDFC;
    position: relative;
    font-family: 'Flamenco', cursive;
    justify-content: center;
}

.footer_nav_menu {
    display: flex;
    justify-content: center;
    color: #FEFDFC;
    position: relative;
    font-family: 'Flamenco', cursive;
    line-height: 1rem;
    float: none;
    text-align: center;
    padding: 0;
}

.footer_nav_menu fab {
    padding:15px;
    background-color: transparent;
}

.footer_icon {
    font-size: 2.5em;
    margin: 0 3em;
    border: 0.0625em solid transparent;
    color: #FEFDFC;
    font-size: 2em;
    border-radius: 50%;
    font-weight: 400;
}

.footer_icon:hover {
    color: #983175;
    border: 0.0625em solid #983175;
    background-color: #FEFDFC;
}

.design_by {
    display: flex;
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 2em;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    line-height: 2em;
}

        /* CIERRE DEL ESTILADO SOBRE LOS ELEMENTOS DEL FOOTER */

/* CIERRE DEL ESTILADO SOBRE SELECTORES DE CLASE */

/* INICIO DEL ESTILADO SOBRE SELECTORES DE ID */

#bienvenida {
    width: 100%;
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding-top: 5em;
}

#conocimientos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 2.5em auto;
    padding-top: 2em;
    width: 62%;
    position: relative;
}

#quote {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 2.5em 0;
    width: 100%;
    position: relative;
    background: linear-gradient(to bottom right, #403153, #D58DC7);
    color: #f2f1f9;
    box-shadow: 0em 0.1875em 0.8125em 0em rgb(194, 194, 194);
}

#proyectos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 2.5em auto;
    padding-top: 3em;
    width: 70%;
    position: relative;
}

#contacto {
    width: 100%;
    padding-top: 4em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* CIERRE DEL ESTILADO SOBRE SELECTORES DE ID */

/* INICIO DE LAS QUERIES */

@media screen and (max-width: 1635px) {

    .contact_section, .form_section {
    width: 100%;
    margin: 0;
    }
}

@media screen and (max-width: 1390px) {

    .container_contact_section {
    width: 80%;
    justify-content: center;
    }

    .contact_section, .form_section {
    width: 50%;
    margin: 0;
    }
}

@media screen and (max-width: 1000px) {

    nav {
        justify-content: center;
    }

    .navbar_desktop {
    padding-left: 0;
    }
    
    .presentacion {
    width: 55%;
    }

    .welcome_title {
    margin-top: 0.3em;
    }
        
    .diff_color {
    justify-content: center;
    }
    
    .presentation {
    text-align: center;
    }

    .img_presentation_container {
    width: 45%;
    }

    .container_contact_section {
    width: 80%;
    flex-direction: column;
    }

    .contact_section, .form_section {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 780px) {

    nav {
    justify-content: center;
    }

    .navbar_desktop {
    padding: 0;
    }

    .titles_container {
    flex-direction: column;
    text-align: center;
    }
    
    h1 {
    margin-top: 0;
    }
    
    .welcome_title {
    margin-top: 0.3em;
    }
    
    .diff_color {
    justify-content: center;
    margin-top: 0.5em;
    margin-bottom: 0;
    }

    .presentation {
    text-align: center;
    }

    .container_contact_section {
    width: 80%;
    flex-direction: column;
    }

    .contact_section, .form_section {
    width: 100%;
    margin: 0;
    flex-direction: column;
    }

    .nav_footer {
    display: none;
    }
}

@media screen and (max-width: 700px) {

    nav {
    align-items: normal;
    }
        
    .navbar_desktop {
    display: none;
    }
        
    .nav_mobile {
    display: block;
    position: relative;
    }
        
    .nav-item, .link-ltr {
    line-height: 2em;
    }
        
    .button-contact {
    box-shadow: 0em 0.1875em 0.8125em 0em rgb(194, 194, 194);
    }

    .presentacion {
    width: 85%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    }

    .titles_container {
    flex-direction: row;
    margin: 1em;
    }

    h1 {
    margin-top: 0;
    }

    .diff_color {
    margin-top: 0;
    }

    
    .presentation {
    text-align: center;
    }
    
    .img_presentation_container {
    width: 100%;
    margin-top: 5%;
    }
    .container_contact_section {
    width: 80%;
    flex-direction: column;
    }

    .contact_section, .form_section {
    width: 100%;
    margin: 0;
    }

    .footer_icon {
    margin: 0 0.5em;
    }
     
}

@media screen and (max-width: 410px) {

    nav {
    align-items: normal;
    }
    
    .navbar_desktop {
    display: none;
    }
    
    .nav_mobile {
    display: block;
    position: relative;
    }
    
    .nav-item, .link-ltr {
    line-height: 2em;
    }
    
    .button-contact {
    box-shadow: 0em 0.1875em 0.8125em 0em rgb(194, 194, 194);
    }
    
    .container_presentation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    }
    
    .presentacion {
    margin: 0 auto;
    }

    .titles_container {
    flex-direction: column;
    text-align: center;
    }
    
    h1 {
    margin-top: 0;
    }
    
    .welcome_title {
    margin-top: 0.3em;
    }
    
    .diff_color {
    justify-content: center;
    margin-top: 0.5em;
    margin-bottom: 0;
    }

    h1 {
    margin-top: 0;
    }
    
    .presentation {
    text-align: center;
    }
    
    .img_presentation_container {
    width: 100%;
    margin-top: 5%;
    }

    .container_contact_section {
    width: 80%;
    flex-direction: column;
    }

    .contact_section, .form_section {
    width: 100%;
    margin: 0;
    }

    .contact_socialnetworks {
    justify-content: center;
    }

    .contact_socialnetworks ul {
    padding: 0;
    }

    .link_contact {
    flex-direction: column;
    font-size: 1em;
    margin: 0 auto;
    }

    .footer_icon {
    margin: 0 0.5em;
    }
    
    .name_lastname {
    display: flex;
    flex-direction: column;
    }

    .nav_footer {
    display: none;
    }
}

@media screen and (max-width: 322px) {

    nav {
    align-items: normal;
    }

    .navbar_desktop {
    display: none;
    }

    .nav_mobile {
    display: block;
    position: relative;
    }

    .nav-item, .link-ltr {
    line-height: 2em;
    }

    .button-contact {
    box-shadow: 0em 0.1875em 0.8125em 0em rgb(194, 194, 194);
    }

    .container_presentation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    }

    .titles_container {
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    }

    h1 {
    margin-top: 0;
    }

    .welcome_title {
    margin-top: 0.3em;
    }

    .diff_color {
    justify-content: center;
    margin-top: 0.5em;
    margin-bottom: 0;
    }

    .presentation {
    text-align: center;
    }

    .img_presentation_container {
    width: 100%;
    margin-top: 5%;
    }

    .section_title {
    font-size: 2em;
    }

    .container_contact_section {
    width: 80%;
    flex-direction: column;
    margin-bottom: 2em;
    }

    .contact_section, .form_section {
    width: 100%;
    margin: 0;
    }

    .link_contact {
    flex-direction: column;
    font-size: 0.8em;
    margin: 0 auto;
    }

    .name_lastname {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    }

    .mail_form {
    margin: 0 auto;
    }

    .textarea_form {
    margin: 0 auto;
    }

    .nav_footer {
    display: none;
    }

    .footer_icon {
    margin:0 0.8em;
    }
}
